.DanmakuOverlayItem{
                    position: absolute;
                    /* left: {message.x}px, */
                    /* top: {message.y}px, */
                    /* color: rgb({message.color.r}, {message.color.g}, {message.color.b}), */
                    font-size: 18px;
                    font-weight: bold;
                    text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
                    white-space: nowrap;
                    animation: danmaku-move 8s linear;
                    user-select: none;
}    
@keyframes danmaku-move {
        from { transform: translateX(0); }
        to { transform: translateX(-100vw); }
     }